// VARIABLES
// fonts
$font-light: "Avenir Next Ultra Light";
$font-regular: "Avenir Next Regular";
$font-demi: "Avenir Next Demi Bold";
$font-bold: "Avenir Next Bold";

// sizes
// $mobile-header-text-size: 1.5rem;

// colors
$text-color: #323232;
$text-label-color: #afafaf;
$text-field-border: #e1e1e1;
$primary-CTA: #0095ff;
$primary-hover: #0065ad;

// MIXINS
@mixin setFontSizeLineHeight($font-size, $line-height) {
	font-size: $font-size;
	line-height: $line-height;
}

@mixin mobileHeaderText() {
	@include setFontSizeLineHeight(1.5rem, 2rem);
}

@mixin mobileSubHeaderText() {
	@include setFontSizeLineHeight(0.875rem, 1.375rem);
}

@mixin mobileParagraphText() {
	@include setFontSizeLineHeight(0.8125rem, 1.125rem);
}

@mixin mobileLabelText() {
	@include setFontSizeLineHeight(0.75rem, 1.25rem);
}

@import "./partials/reset";
@import "./partials/base";
@import "./partials/fonts";
@import "./partials/util";
@import "./partials/header";
@import "./partials/video-player";
@import "./partials/video-info";
@import "./partials/comments";

// video list
.video-list {
	&__header {
		margin: 40px 0;
		font-family: $font-demi;
		color: $text-label-color;
		@include mobileLabelText();
	}

	.side-video {
		margin-bottom: 24px;
		display: flex;
		height: 70px;

		&__thumbnail {
			margin-right: 16px;
			border-radius: 4px;
			width: 120px;
			object-fit: cover;
		}

		&--right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&__title {
			margin: 0 0 16px 0;
			@include mobileParagraphText();
		}

		&__owner {
			margin: 0;
			@include mobileParagraphText();
		}
	}
}
