// VARIABLES
// fonts
$font-light: "Avenir Next Ultra Light";
$font-regular: "Avenir Next Regular";
$font-demi: "Avenir Next Demi Bold";
$font-bold: "Avenir Next Bold";

// colors
$text-color: #323232;
$text-label-color: #afafaf;
$text-field-border: #e1e1e1;
$primary-CTA: #0095ff;
$primary-hover: #0065ad;

// breakpoints
$tablet-breakpoint: 768px;
$tablet-video-breakpoint: 700px;

// MIXINS
@mixin setFontSizeLineHeight($font-size, $line-height) {
	font-size: $font-size;
	line-height: $line-height;
}

@mixin mobileHeaderText() {
	@include setFontSizeLineHeight(1.5rem, 2rem);
}

@mixin mobileSubHeaderText() {
	@include setFontSizeLineHeight(0.875rem, 1.375rem);
}

@mixin mobileParagraphText() {
	@include setFontSizeLineHeight(0.8125rem, 1.125rem);
}

@mixin mobileLabelText() {
	@include setFontSizeLineHeight(0.75rem, 1.25rem);
}

@mixin tabletDeskHeroHeaderText() {
	@include setFontSizeLineHeight(3.75rem, 4.25rem);
}

@mixin tabletDeskHeaderText() {
	@include setFontSizeLineHeight(2.25rem, 2.75rem);
}

@mixin tabletDeskSubHeaderText() {
	@include setFontSizeLineHeight(1rem, 1.5rem);
}

@mixin tabletDeskParagraphText() {
	@include setFontSizeLineHeight(0.875rem, 1.375rem);
}

@mixin tabletDeskLabelText() {
	@include setFontSizeLineHeight(0.75rem, 1.25rem);
}

@mixin tablet() {
	@media screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin tabletVideo() {
	@media screen and (min-width: $tablet-video-breakpoint) {
		@content;
	}
}

@import "./partials/reset";
@import "./partials/base";
@import "./partials/fonts";
@import "./partials/util";
@import "./partials/header";
@import "./partials/video-player";
@import "./partials/video-info";
@import "./partials/comments";
@import "./partials/video-list";
