// VARIABLES
// fonts
$font-light: "Avenir Next Ultra Light";
$font-regular: "Avenir Next Regular";
$font-demi: "Avenir Next Demi Bold";
$font-bold: "Avenir Next Bold";

// colors
$text-color: #323232;
$text-label-color: #afafaf;
$text-field-border: #e1e1e1;
$primary-CTA: #0095ff;
$primary-hover: #0065ad;

// MIXINS
@mixin setFontSizeLineHeight($font-size, $line-height) {
	font-size: $font-size;
	line-height: $line-height;
}

@mixin mobileHeaderText() {
	@include setFontSizeLineHeight(1.5rem, 2rem);
}

@mixin mobileSubHeaderText() {
	@include setFontSizeLineHeight(0.875rem, 1.375rem);
}

@mixin mobileParagraphText() {
	@include setFontSizeLineHeight(0.8125rem, 1.125rem);
}

@mixin mobileLabelText() {
	@include setFontSizeLineHeight(0.75rem, 1.25rem);
}

@import "./partials/reset";
@import "./partials/base";
@import "./partials/fonts";
@import "./partials/util";
@import "./partials/header";
@import "./partials/video-player";
@import "./partials/video-info";
@import "./partials/comments";
@import "./partials/video-list";
