// UPLOAD
.upload {
  &__header {
    margin: 24px 0 32px;
    font-family: $font-bold;
    @include headerText();
    @include tablet() {
      margin: 48px 0 32px;
    }
  }

  .thumbnail-wrapper {
    display: inline-block;
  }

  &__thumbnail {
    border-radius: 4px;
    width: 288px;
    height: 135px;
    object-fit: cover;
    @include tablet() {
      width: 344px;
      height: 183px;
    }

    &--label {
      margin: 0;
      color: $text-label-color;
      font-family: $font-demi;
      @include labelText();
      @include tablet() {
        margin: 40px 0 0;
      }
    }
  }

  &--form {
    display: flex;
    flex-direction: column;
  }

  .input-wrapper {
    margin: 40px 0 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    @include desktop() {
      height: 203px;
    }
  }

  &__title {
    &--label {
      margin: 32px 0 24px;
      color: $text-label-color;
      font-family: $font-demi;
      @include labelText();
      @include tablet() {
        margin-top: 40px;
      }
      @include desktop() {
        margin: 0;
      }
    }

    &--input {
      @extend .text-input;
      padding-left: 16px;
      font-family: $font-regular;
      @include subHeaderText();

      &:focus {
        padding-left: 15px;
      }
    }
  }

  &__description {
    &--label {
      color: $text-label-color;
      font-family: $font-demi;
      @include labelText();
    }
    &--textarea {
      @extend .text-area;
      height: 143px;

      @include tablet() {
        margin-bottom: 40px;
      }
      @include desktop() {
        margin: 0;
        height: 94px;
      }
    }
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include tablet() {
      flex-direction: row-reverse;
    }
  }

  &__button {
    @extend .button;
    margin: 32px 0 24px;
    width: 288px;
    @include tablet() {
      margin-left: 48px;
      width: 160px;
      align-self: flex-end;
    }
  }

  &--cancel {
    display: inline-block;
    margin-bottom: 24px;
    border: none;
    background: #fff;
    color: $primary-CTA;
    width: 100%;
    height: 16px;
    @include subHeaderText();
    font-family: $font-demi;
    text-decoration: none;
    text-align: center;
    @include tablet() {
      width: auto;
      margin: 0;
      display: inline;
    }
  }

  &--divider {
    @extend .divider;
    display: none;
    @include tablet() {
      display: block;
    }
  }
}

.upload-wrapper {
  @include desktop() {
    display: flex;
    justify-content: space-between;
  }
}
