@font-face {
	font-family: "Avenir Next Light";
	src: url("../assets/fonts/Linotype - AvenirNextLTPro-Light.otf")
		format("opentype");
	src: url("../assets/fonts/Alternative\ files/Linotype - Avenir Next LT Pro Light.ttf")
		format("truetype");
}

@font-face {
	font-family: "Avenir Next Regular";
	src: url("../assets/fonts/Linotype - AvenirNextLTPro-Regular.otf")
		format("opentype");
	src: url("../assets/fonts/Alternative\ files/Linotype - Avenir Next LT Pro.ttf")
		format("truetype");
}

@font-face {
	font-family: "Avenir Next Demi Bold";
	src: url("../assets/fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf")
		format("opentype");
	src: url("../assets/fonts/Alternative\ files/Linotype - Avenir Next LT Pro Demi.ttf")
		format("truetype");
}

@font-face {
	font-family: "Avenir Next Bold";
	src: url("../assets/fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf")
		format("opentype");
	src: url("../assets/fonts/Alternative\ files/Linotype - Avenir Next LT Pro Bold.ttf")
		format("truetype");
}
