// BASE
body,
html {
  margin: 0;
  font-family: $font-regular;
  color: $text-color;
}

main {
  @include desktop() {
    display: flex;
  }
}

.main {
  &--left {
    margin: 0;
    @include desktop() {
      margin-right: 24px;
      width: 712px;
      border-right: solid 1px $text-field-border;
    }
  }
}

// BASE COMPONENTS
.button {
  border: none;
  border-radius: 4px;
  width: 224px;
  height: 48px;
  background: $primary-CTA;
  color: #fff;
  @include subHeaderText();
  font-family: $font-demi;

  &:hover {
    background: $primary-hover;
  }
}

.user-icon {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
  object-position: 0;
}

.text-input {
  border: 1px solid $text-field-border;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 48px;
  color: $text-color;

  &:focus {
    border: 2px solid $primary-CTA;
    outline: none;
  }
}

.text-area {
  padding: 11px 12px;
  border: 1px solid $text-field-border;
  border-radius: 4px;
  width: 100%;
  resize: none;
  font-family: $font-regular;
  color: $text-color;
  @include subHeaderText();

  &:focus {
    padding: 10px 11px;
    border: 2px solid $primary-CTA;
    outline: none;
  }
}

.divider {
  margin: 0;
  border: 0;
  border-bottom: 1px solid $text-field-border;
}

.link {
  text-decoration: none;
  color: $text-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:visited {
    color: initial;
  }
}

// for debugging
// * {
//   border: 1px dashed gray;
// }
