// VARIABLES
// fonts
$font-light: "Avenir Next Light";
$font-regular: "Avenir Next Regular";
$font-demi: "Avenir Next Demi Bold";
$font-bold: "Avenir Next Bold";

// colors
$text-color: #323232;
$text-label-color: #afafaf;
$text-field-border: #e1e1e1;
$primary-CTA: #0095ff;
$primary-hover: #0065ad;
$danger-CTA: #f44336;
$danger-hover: #e53935;

// breakpoints
$tablet-video-breakpoint: 700px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;
