// VIDEO INFO
.video-info {
	&__title {
		margin: 32px 0 16px;
		font-family: $font-bold;
		@include mobileHeaderText();
		@include tablet() {
			margin: 48px 0 24px;
			@include tabletDeskHeaderText();
		}
	}

	&--wrapper {
		@include tablet() {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	&--primary {
	}

	&__owner {
		margin: 0 8px 32px 0;
		display: inline-block;
		font-family: $font-demi;
		@include mobileSubHeaderText();
		@include tablet() {
			margin: 0 8px 0 0;
			@include tabletDeskSubHeaderText();
		}
	}

	&__date-posted {
		margin: 0;
		display: inline-block;
		color: $text-label-color;
		font-family: $font-regular;
		@include mobileParagraphText();
	}

	&--secondary {
		display: flex;
		align-items: center;
	}

	&__icon {
		margin-right: 8px;
	}

	&__count {
		margin: 0;
		margin-right: 15px;
		display: inline-block;
		font-family: $font-light;
		@include mobileParagraphText();
	}

	&__divider {
		@extend .divider;
		margin: 24px 0;
	}

	&__description {
		margin: 0 0 40px;
		max-width: 510px;
		font-family: $font-light;
		@include mobileParagraphText();
		@include tablet() {
			margin: 16px 0 64px;
			@include tabletDeskParagraphText();
		}
	}
}
