// VIDEO PLAYER
.video-player-wrapper {
	position: relative;
	padding-top: 57.18%;
	background: #000;
	width: 100%;

	@include tabletVideo() {
		padding: 0;
		height: 400px;
	}

	@include desktop() {
		height: 540px;
	}
}

.video-player {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

	@include tabletVideo() {
		position: block;
		margin: 0 auto;
		width: 700px;
		height: 400px;
	}

	@include desktop() {
		width: 944px;
		height: 540px;
	}
}

// VIDEO PLAYER CONTROLS
.controller {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	height: 35px;
}

.video-player__controls {
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	display: grid;
	grid-template-columns: 50px auto 80px;
	max-width: 684px;
	@include tabletVideo() {
		position: block;
		margin: 0 auto;
		bottom: 16px;
		max-width: 912px;
	}

	&--playPause {
		@extend .controller;
		width: 50px;
		border: none;
		&:focus {
			outline: none;
		}

		&--icon {
		}
	}

	&--scrubber {
		@extend .controller;
		margin: 0 8px;
		@include tabletVideo() {
			margin: 0 16px;
		}

		&__loader {
			margin: 0 20px;
			width: 100%;
			height: 4px;
			background: $text-label-color;
			border-radius: 4px;
		}
	}

	&--fullscreen {
		display: flex;
	}

	&--volume {
		display: flex;
	}

	&--tools-wrapper {
		@extend .controller;
		width: 80px;
	}
}
